//  1. Colors
$red: #cc2336;

// 2. Typography
$font-size-base: 16px;
$line-height: 1.5;
$font-sizes: (
  h1: 2.625rem,
  h2: 2rem,
  h3: 1.5rem,
  h4: 1.25rem,
  h5: 1rem,
  h6: 0.85rem,
);

// 3. Grid

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$content-max-widths: (
  xs: 80vw,
  md: 50vw
);

// 4. Animation

$easing-default: cubic-bezier(0.4, 0, 0.2, 1);
$duration-default: 200ms;

// 5. Positioning

$z-index: (
  navigation: 999,
  rippler-container: 998
);
