<footer>
    <nav role="navigation" class="navigation">
        <ul class="links--hover-red list-inline">
            <li><a href="/" data-ripple-trigger>Home</a></li>
            <li><a href="/whoTheHell" data-ripple-trigger>Who the hell is this guy?</a></li>
            <li><a href="/isInspired" data-ripple-trigger>Inspiration</a></li>
            <li><a href="/hasGoals" data-ripple-trigger>Goals</a></li>
        </ul>
    </nav>
</footer>
