<footer>
    <nav role="navigation" class="navigation">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/whoTheHell">Who the hell is this guy?</a></li>
            <li><a href="/isInspired">Inspiration</a></li>
            <li><a href="/hasGoals">Goals</a></li>
        </ul>
    </nav>
</footer>
