.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: zindex(navigation);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  @include media-breakpoint-down(sm) {
    width: 100vh;
    transform: rotateZ(-90deg) translateY(100%);
    transform-origin: left bottom;
  }
}
