<div id="content-inner" class="no-hover">
    <div class="profile-picture">
        <div class="profile-inner">
            my background profile picture is here
        </div>
    </div>
    <h1 id="name">Arnost Neurad</h1>
    <h2 id="profession">Multimedia designer, front-end magician</h2>
    <div>
        <ul class="menu links">
            <li><a href="https://www.facebook.com/arnost.neurad">Facebook</a></li>
            <li><a href="https://www.instagram.com/paralleluniv3rse/">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/arno%C5%A1t-neurad-540973121/">Linkedin</a></li>
        </ul>
    </div>
</div>
