<div class="content-default">
    <h1 id="name">What inspires me?</h1>
    <div class="hint">
        <span class="visible-mobile">click</span>
        <span class="hidden-mobile">hover</span> me
    </div>
</div>
<div class="content-hover">
    <p>
        I take insipration mainly from just being completely crazy. Having ridiculous ideas and toning them down a bit so they are realizable is how I roll.
    </p>
    <p>These people and sites might have had an influence on my creations:</p>
    <ul class="list-unstyled" id="inspirations-list">
        <li><a href="https://wild.as">WILD</a></li>
        <li><a href="http://thomas-strobl.com/">Thomas Strobl</a></li>
        <li><a href="https://dribbble.com/">Dribbble</a></li>
        <li><a href="https://www.remembership.cz/">REMEMBERSHIP_</a></li>
        <li><a href="https://www.awwwards.com/">Awwwards</a></li>
        <li><a href="https://teamtreehouse.com/">Treehouse</a></li>
        <li><a href="http://resn.co.nz/">RESN</a></li>
        <li><a href="http://www.creativebloq.com/net-magazine">Net magazine</a></li>
    </ul>
</div>