@import url('https://fonts.googleapis.com/css?family=Lato:300|Ubuntu:300,400');

$red: #cc2336;

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visible-mobile{
  display: none;
  @media screen and (max-width: 550px) {
    display: initial;
  }
}

.hidden-mobile{
  display: initial;
  @media screen and (max-width: 550px) {
    display: none;
  }
}

#content {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  ul.menu {
    @extend .list-unstyled;
    li {
      display: inline-block;
      a {
        color: #000;
        padding: 20px;
        text-decoration: none;
        display: inline-block;
        @media screen and (max-width: 550px) {
          padding: 10px;
        }
      }
    }
  }
  nav#navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    ul {
      display: inline-block;
      li {
        a {
          position: relative;
          text-decoration: none;
          display: inline-block;
          &:after {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 0;
            transition: width 0.3s;
            height: 1px;
            background: $red;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  #content-inner {
    padding: 20px;
    position: relative;
    overflow: hidden;
    &:not(.no-hover) {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: min-width 1s, min-height 1s, background-color 1s;
      background-color: white;
      min-width: 0;
      min-height: 0;
      &:hover{
        min-width: calc(100vw - 116px);
        min-height: calc(100vh - 116px);
        background-color: $red;
        .content-default {
          opacity: 0;
          transition: opacity 0.5s;
          transition-delay: 0s;
        }
        .content-hover {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.5s;
          transition-delay: 0.5s;
        }
      }
    }
    .profile-picture {
      $size: 105px;
      width: $size;
      height: $size;
      margin: 25px;
      display: inline-block;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      overflow: hidden;
      border: 1px solid $red;
      .profile-inner {
        background: url("/static/images/arnost_neurad.png");
        background-size: contain;
        width: 150%;
        height: 150%;
        margin: -25px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      @media screen and (max-width: 550px) {
        display: none;
      }
    }
    #name {
      margin: 0;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
    }
    #profession {
      font-family: 'Lato', sans-serif;
      font-style: italic;
      font-size: 1.2em;
      font-weight: 300;
    }
    .content-default {
      opacity: 1;
      transition: opacity 0.5s;
      transition-delay: 0.5s;
      .hint {
        font-size: 0.8em;
        color: #aaa;
      }
    }
    .content-hover {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s;
      transition-delay: 0s;
      color: #fff;
      padding: 20px;
      position: absolute;
      width: 50vw;
      @media screen and (max-width: 550px) {
        width: 90vw;
      }
    }
    .links {
      li {
        a {
          position: relative;
          &:after {
            position: absolute;
            bottom: 0;
            background: $red;
            content: " ";
            display: block;
            transition: width 0.3s, height 0.3s;
            left: 0;
          }
        }
        &:not(:first-child):not(:last-child) {
          a:after {
            height: 1px;
            width: 0;
          }
        }
        &:first-child {
          a:after {
            width: 1px;
            height: 0;
          }
        }
        &:last-child {
          a:after {
            width: 1px;
            height: 0;
            left: auto;
            right: 0;
          }
        }
        &:hover {
          &:not(:first-child):not(:last-child) {
            a:after {
              width: 100%;
            }
          }
          &:first-child {
            a:after {
              height: 100%;
            }
          }
          &:last-child {
            a:after {
              height: 100%;
            }
          }
        }
      }
    }
    ul#inspirations-list {
      li {
        a {
          color: #fff;
          font-weight: bolder;
          padding: 3px 0;
          display: block;
        }
      }
    }
  }
}