/**
*   Global classes
**/
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline {
  @extend .list-unstyled;

  li {
    display: inline-block;
  }
}

/**
*   General page styles
**/
* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    font-size: ($font-size-base + 2px);
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: $line-height;
}

main {
  min-height: 100vh;
  width: 100vw;
  border: 3.5rem solid transparent;
  background-clip: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
  }
}

@include generate-type-sizes;

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 0.3333em;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
}

p {
  text-align: justify;
}

section {
  text-align: center;

  @each $breakpoint, $size in $content-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: $size;
    }
  }
}

ul#inspirations-list {
  li {
    a {
      font-weight: bolder;
      padding: 3px 0;
      display: inline-block;
    }
  }
}
