<div class="content-default">
    <h1 id="name">Who the hell am I?</h1>
    <div class="hint">
        <span class="visible-mobile">click</span>
        <span class="hidden-mobile">hover</span> me
    </div>
</div>
<div class="content-hover">
    <p>
        My name is Arnošt Neurad, but my friends call me Arnie. I am an 20-year-old freak with love for latest technologies, retro-themed electronic music, web development, innovation & creative thinking and 80’s Japanese sports cars. And yes, I own one. I have a 4-year experience in web design and development, now running my own startup company UNCHAINED while studying Multimedia design & communication at Business Academy Aarhus. I like making cool and original shit.
    </p>
</div>
