<div class="content-default">
    <h1 id="name">What do I aim for?</h1>
    <div class="hint">
        <span class="visible-mobile">click</span>
        <span class="hidden-mobile">hover</span> me
    </div>
</div>
<div class="content-hover">
    <p>
        My goal is to continue running my business, working with people fueled by the same enthusiasm and curiousness as me. I want to choose what projects I want to work on depending on what I find interesting, meaningful and I'd like to be part of or even bring my own ideas to life. I want to meet lots of other interesting personalities, that I'd get inspired by and would push me forwards to reaching my goals.
    </p>
    <p>
        To reach these goals I tend to be curious, get to know as many people at all kinds of occasions eg. conventions and acquire all the necessary knowledge and skills via self-study and practice. I read web development and design magazines, make my own web project just for the fun and sake of learning new technologies, I observe and learn from people I work with eg. doing meaningful workshops, business skills, laws etc.
    </p>
</div>
