<section>
    <h1 id="name">Arnost Neurad</h1>
    <h2 id="profession">Front-end UI developer & multimedia designer</h2>
    <div>
        <ul class="list-inline links--hover-red links--hover-red--side-ends">
            <li><a href="https://www.facebook.com/arnost.neurad">Facebook</a></li>
            <li><a href="https://www.instagram.com/paralleluniv3rse/">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/arno%C5%A1t-neurad-540973121/">Linkedin</a></li>
        </ul>
    </div>
</section>
